<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.nihongotaisaku">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignupActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".activities.AlphabetActivity"
            android:theme="@style/AppTheme.NoActionBar.Fake" />
        <activity
            android:name=".activities.WritingHiraganaActivity"
            android:label="@string/title_activity_writing_hiragana"
            android:parentActivityName=".activities.AlphabetActivity"
            android:theme="@style/AppTheme.NoActionBar.Fake">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.admin.nihongotaisaku.activities.AlphabetActivity" />
        </activity>
        <activity
            android:name=".activities.WritingKatakanaActivity"
            android:label="@string/title_activity_writing_katakana"
            android:parentActivityName=".activities.AlphabetActivity"
            android:theme="@style/AppTheme.NoActionBar.Fake">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.admin.nihongotaisaku.activities.AlphabetActivity" />
        </activity>
        <activity
            android:name=".activities.VocabularyAndGrammarActivity"
            android:theme="@style/AppTheme.NoActionBar.Fake"></activity>
        <activity android:name=".activities.LessonActivity"></activity>
    </application>

</manifest>